<div class="container">
  <h1 style="text-align: center">Create Books</h1>
  <button [routerLink]="''" class="btn btn-primary">Back to List Books</button>
</div>
<hr style="width: 1100px; text-align: center">
<div class="container">
  <form (ngSubmit)="createBook()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" [(ngModel)]="book.name" class="form-control" id="name"
             aria-describedby="" placeholder="">
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" name="name" [(ngModel)]="book.author" class="form-control" id="author"
             aria-describedby="" placeholder="">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" [(ngModel)]="book.description" class="form-control" id="description"
                aria-describedby="" placeholder=""></textarea>
    </div> <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
